.main-comp-newnote{
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 2fr 5fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    overflow: auto;
    padding:5px;
}
.name-field{
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    margin:5px;
    margin-top:15px;
}
.city-field{
    grid-column: 1;
    grid-row: 2;
    margin:5px;
}
.date-field{
    grid-column: 2;
    grid-row: 2;
    margin:5px;
   }
 .date-in{
   min-height:85%;
   }
.description{
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;
    margin:5px;
     }
 .photo-upload{
    grid-column: 1/3;
    grid-row: 4;
    }
.set-estimations{
    grid-column: 1/3;
    grid-row: 5;
    display:grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: 1.5fr 2.1fr;
  
}
.public-checkbox{
    grid-column: 1/3;
    grid-row: 6; 
  padding:4px;
}
.public-checkbox input{
    height: 17px;
    width: 17px;
     background-color: rgb(95, 45, 45);
   margin-top:5px;
}
.public-checkbox label{

}


.description textarea{
width:85%;
height:80%;
min-height: 200px;
margin-top: 10px;
;
   }
.date-field,.city-field, .name-field{
    text-align: center;
}
label {
    margin: 5px;
    font-size:20px;   
}

.main-comp-newnote input[type="text"],
.main-comp-newnote input[type="date"],
textarea
{
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
    outline: 0;
    height:70%;
	background-color: #e8eeef;
	color:#000c14;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}
/*Estimationss--------*/
* { box-sizing: border-box; }

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin-top: auto;
 background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.feedback {
  max-width: 360px;
  background-color: #fff;
  width:100%;
  padding: 10px;
  border-radius: 8px;
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
margin:0;
}
.people{
    grid-row:2;
grid-column: 2;
margin:auto;
}
.prices{
    grid-row:3;
    grid-column: 2;
    margin:auto;
}
.cuisine{
    grid-row:4;
    grid-column: 2;
    margin:auto;
}
.impression{
    grid-row:5;
    margin:auto;
    grid-column: 2;
}
.label-stars{
text-align: center;
margin:auto;
font-size: 19px;    
}
.est-title{
    grid-column: 1/3;
    grid-row: 1;
}