.note-containers {
    border-right: grey;
    border-left: 2px solid silver;
    border-top: grey;
    border-bottom: white;
}
.allNotes{
    grid-row: 2;
    overflow: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.list-note{
    text-align: center;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    overflow: hidden;
}
.property2 textarea,
.property1 textarea{
    height:80%;
    margin:auto 0;
    border:1px solid black;
    margin-right: 1em;
}
/*Grid for the list*/
.list-note-el{
    width:100%;
    max-height:140px;
    overflow: hidden;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    padding:10px;
    grid-gap: 10px;
}
.owner-list-notes{
    grid-column: 1/4;
    grid-row:1;

}

.gen-grade{
    grid-row:1;
    grid-column:4;
    min-height: 40px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .3s;
    background-image :  url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e")
}
.property1{
    grid-row:2;
    grid-column:1/3;
}
.property2{
    grid-row:2;
    grid-column:3/5;
}
/*end grid*/
.prop{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    font-size:16px;

}
.prop>div{
    margin:auto;
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: -0.6px;
    word-spacing: 1.6px;
}
.small-description{
    grid-row:3;
    grid-column:1/5;
}
.small-description > textarea{
    width:95%;
    overflow: hidden;
}
.grade-for-unauth{
    font-size: 95%;
    padding-top: 14%;
    padding-left: 34%;
}
.list-el-container{
    border: 3px solid grey;
    border-radius: 2%;
    max-height: 210px;
}

.like-part{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 1fr;
}

.like{
    text-align: right;
    background: url("../icons/thumbs-up.png") 100% 100% no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
    grid-row: 1;
    grid-column: 2;
}
.liked{
    text-align: right;
    background: url("../icons/thumbs-up-hand-symbol.png") 100% 100% no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
    grid-row: 1;
    grid-column: 2;
}

.count-of-likes{
    padding-left: 10px;
    grid-row: 1;
    grid-column: 3;
}

.small-description {
    min-height: 100%;
    padding: 10px;
    text-align: left;
    grid-row: 1;
    grid-column: 1/2;
}

.small-description > textarea {
    width: 95%;
    overflow: hidden;
}
 