.note-whole-comp{
    display : grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    
}
.note-whole-comp-no-footer{
    display : grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.85fr 9fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    
}
 .note-main-comp{
       display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 2fr 4fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    overflow: auto;
    }

    .main-sidebar{
        grid-column: 1/3;
        grid-row: 2;   
    }
    .listnotes-main-comp{
         display : grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 5fr 2fr 4fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        overflow: auto;
      
        }
 .note-footer{
        grid-row: 3;
        grid-column: 1/3;
    }
    .note-property-city{
        grid-row: 2;
        grid-column: 1;
    }
    .note-title{
        grid-column: 1;
        grid-row: 1;
        }
        .note-country{
            grid-column: 2;
            grid-row: 1;
            }
    .note-property{
        padding :5px;
        margin-bottom:12px;
    }
    .note-property-date{
        grid-row: 2;
        grid-column: 2;
    }
    .note-owner{
        grid-row: 1;
        grid-column: 1/3;
    }
.description{
        grid-row: 3;
        grid-column: 1/3;
}
.estimations{
    grid-row: 5;
    grid-column: 1/3;
}
.note-photos{
    grid-row: 4;
    grid-column: 1/3; 
}