
.messages-sidebar {
    padding: 0;
    border-right: silver;
    border-left: 2px solid silver;
    border-top: silver;
    border-bottom: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon-button-messages {
    padding: 32px;
    background: url("../icons/IconMessages.png") 100% 100% no-repeat;
    background-size: cover;
    cursor: pointer;
}

.list-main-messages {
    text-align: center;
    font-size : 22px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 9fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    overflow: auto;
}

.list-element {
    border: 3px solid grey;
    border-radius: 2%;
}

.message-account-image{
    border-radius: 50%;
    border: 3px solid black;
    width:38px;
    margin: 5%;
    height:38px;
    grid-column: 1;
}

.message-account-label{
    margin: 2% 2%;
    grid-column:2;
}

.whole-comp-conversation {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 9fr 1fr;
}

.sended-message {
    grid-column: 2;
    text-align: center;
    background-color: #b6e7f9;
}

.received-message {
    grid-column: 1;
    text-align: center;
    background-color: lavenderblush;
}

.conversation-title {
    grid-column: 1;
    grid-row: 1;
    border-right: none;
    border-top: none;
    border-left: none;
    padding :10px;
    margin-bottom: 30px;
}

.conversation-intercolutor {
    grid-column: 2;
    grid-row: 1;
    border-right: none;
    border-top: none;
    padding :10px;
    margin-bottom: 30px;
}

.correspondence {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 5fr 2fr 4fr;*/
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    overflow: auto;
}

.correspondence-sidebar {
    grid-column: 1/3;
    grid-row: 2;
    margin-bottom: 4px;
    margin-top: 1px;
}

.conversation-footer {
    grid-row: 4;
    display: grid;
    grid-template-columns: 85% 82%;
    width: auto;
}

.conversation-back-to-all {
    grid-column: 2;
    text-align: center;
    padding: 17px;
}

.conversation-send-message {
    grid-column: 1;
    text-align: center;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b6e7f0;
}

.text-message {
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;
    margin: 5px;
}

.to-chat {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b6e7f0;
}