.fileInput {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.imgPreview {
    overflow: hidden;
    box-shadow: 0 0 3px #000000;
    text-align: center;
    margin: 5px 15px;
    height: 35vh;
    border-radius: 10px;
    width: 65%;
}
.previewText {
    width: 100%;
    margin-top: 20px;
}

.submitButton {
    padding: 12px;
    margin-left: 15px;
    background: white;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
    background: #efefef;
}

.deleteSubmitButton{
    padding: 12px;
    margin-left: 7%;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
    background: lightcoral;
}

.centerText {
    text-align: center;
    width: 500px;
}
.photo {
    box-shadow: 0 0 3px #000000;
    width: 100%;
    height: 100%;
}