.first{
    text-align: center;
    width: 70%;
    float:left;
    min-height: 50px;
}

.first-inner{
    font-size: 200%;
}

.second{
    width:30%;
    float: left;
    min-height: 50px;
}

.second-inner{
    font-size: 200%;
}

.third{
    width: 50%;
    height: 50%;
    float: left;
}

.third-inner{
    font-size: 200%;
}

.fourth{
    padding-top: 60px;
    width: 50%;
    height: 50%;
    float: left;
}

.fourth-inner{
    font-size: 200%;
}

.fifth{
    height: 42%;
    float: left;
    width: 100%;
}

.fifth-inner{
    font-size: 200%;
}

.avatar-inner{
    width:100% ;
}