.whole-comp{
    display : grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    
}
.whole-comp-no-footer{
    display : grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.91fr 9fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    
}
.main-comp{
    display : grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 5fr 2fr 4fr;
 grid-column-gap: 5px;
 grid-row-gap: 5px;
 overflow: auto;
 }
 .main-sidebar{
     grid-column: 1/3;
     grid-row: 2;   
 }

.sidebar-footer{
     grid-row: 3;
     grid-column: 1/3;
 }

 .create-plan-button{
    grid-row: 3;
    grid-column: span 2; 
 }
 .button-plan{
    grid-row: 3;
    grid-column: span 2;
    height: 100%;
    width: 100%;
 }

 .list-main-auth{
    display : grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.7fr 9fr;
   grid-column-gap: 5px;
   grid-row-gap: 5px;
   overflow: auto;
 }
 .list-main-unauth{
    display : grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   grid-column-gap: 5px;
   grid-row-gap: 5px;
   overflow: auto;
   }
   
 .only-my-checkbox{
    grid-row: 1;
   vertical-align: center;
    padding:2px;
    }
