* {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.grid-cont {
    display: grid;
    grid-template-areas: "header header" "icons rightbar" "main rightbar";
    height: 100vh;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 1.5fr 1.7fr 14fr;
    grid-column-gap: 5px;
    margin: 0;
}

.grid-cont-initially {
    display: grid;
    grid-template-areas: "header header" "main main";
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 1fr 10fr;
    margin: 0;

    grid-column-gap: 5px;
    height: 100vh;
}

.container {
    border: 2px solid silver;
    border-radius: 10px;
}

.aside-container{
    border-right: grey;
    border-left: 2px solid silver;
    border-top: grey;
    border-bottom: none;
}

header {
    grid-area: header;
    display: grid;
    grid-auto-flow: row;
    margin: 0;
    padding: 5px;
    grid-gap: 10px;
    grid-template-columns: 2fr 9fr 1fr 2fr 1fr;
    grid-auto-flow: column;
    border-bottom: 2px solid silver;
    align-items: center;
}

.settings {
    grid-column: 3/5;
    display: grid;
}

.title {
    grid-column: 1;
    font-size: 30px;
}

.authorize1 {
    grid-column: 1;
}

.authorize4 {
    grid-column: 4;

}

.authorize2 {
    grid-column: 6;
    width: 38px;
    margin-left: 40px;
}

.authorize3 {
    grid-column: 3/5;
    margin-left: 55%;
    width: 100%;
}

.search {
    grid-column: 2;
}


.search {
    margin-bottom: 5px;
}


.search form{
    display: inline-block;
    position: relative;
    float: left;
}

.search input {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 15px;
    height: 40px;
    width: 300px;
}


.header-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
    text-align: center;
}


main {
    grid-area: main;
}

.visited {
    grid-area: icons;
    grid-column: 2;
    margin-top: 10px;
    margin-left: -65%;
}

.icons {
    grid-area: icons;
    display: grid;
    grid-template-columns: 11fr repeat(5, 1fr);
    grid-auto-flow: column;
    grid-template-row: 10 f 1fr;
    margin-top: 9px;
}

.icon-button2 {
    background: url("./icons/icon1.jpg") 100% 100% no-repeat;
    background-size: cover;
    cursor: pointer;
}

.icon-button1 {
    background: url("./icons/icon2.jpg") 100% 100% no-repeat;
    background-size: cover;
    cursor: pointer;
}

.icon-button4 {
    background: url("./icons/icon3.jpg") 100% 100% no-repeat;
    background-size: contain;
    cursor: pointer;
}

.icon-button3 {
    background: url("./icons/icon4.jpg") 100% 100% no-repeat;
    height: 32px;
    width: 45px;
    background-size: contain;
    cursor: pointer;
}

.icon-button5 {
    background: url("./icons/photo5350302329439628335.jpg") 100% 100% no-repeat;
    height: 30px;
    width: 45px;
    background-size: contain;
    cursor: pointer;
}

.map-comp {
    grid-column: 4/6;
    grid-row: 2;
    text-align: right;
    height: 20px;
    padding: 2px;
}

.full-map {
    color: black;
    font-size: 15px;
    line-height: 15px;

    padding: 1px;
    border: 1px solid hsl(224, 94%, 21%);
    border-radius: 2px;
    background-color: hsl(0, 0%, 97%);

}

.icon-comp1 {
    grid-column: 3;
}

.icon-comp2 {
    grid-column: 4;
}

.icon-comp3 {
    grid-column: 5;
}

.icon-comp4 {
    grid-column: 6;
}

.icon-comp5{
    grid-column: 2;
}

.icons-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-position: center;
    min-width: 40px;
    min-height: 40px;
    color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 1px 1px 1px 1px;
}

.icons div {
    padding: 0;
}

aside {
    grid-area: rightbar;
    border: 2px solid black;
    border-top: none;
    padding: 2px;
}


.login {
    grid-column: 1;
    grid-row: 2;
}

.chartdiv {
    width: 100%;
    height: 100%;
}

.settings-button {
    background: url("icons/cd143e9b-979b-4fd5-ba9e-6272c5598736.jpg") 100% 100% no-repeat;
    grid-column: 4;
    background-size: contain;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}


.header-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    border: 3px solid black;
    width:38px;
    margin-top: 4%;
    height:38px;

    grid-column: 5;
}


.photoGallery {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-column-gap: 3%;
    grid-row-gap: 150px;
    padding-top: 10px;
    text-align: center;
}

.general-photo {
    padding-top: 10px;
    padding-left: 10%;
    text-align: center;
}

.this-photo {
    text-align: center;
    box-shadow: 0 0 3px #000000;
    width: 100%;
    height: 100%;
}

.photos-gallery {
    width: 100%;
    height: 73vh;
    overflow: scroll;
}
.search-plan {
    display: grid;
}

.plan-scroll {
    height: 73vh;
    overflow: scroll;
}

