.App {
  text-align: center;
}
.grid-cont{
  display :grid;
  grid-template-areas:
  "header header"
  "icons rightbar"
  "main rightbar";
  height : 100vh;
grid-template-columns: 7fr 5fr;
grid-template-rows: 1.5fr 1.7fr 14fr;
grid-column-gap:5px;
margin: 0;
}

.grid-cont-initially{
  display : grid;
  grid-template-areas:
  "header header"
  "main main";
    grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr  10fr;
margin: 0;

grid-column-gap:5px;
height : 100vh;
}

.container{
  border: 2px solid black;
 }

header{
  grid-area: header;
  display: grid;
  grid-auto-flow: rows;
  margin:0;
  padding:5px;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr repeat(2,1fr);
  grid-auto-flow: column;
  border-bottom:2px solid black;
  }
  .settings{
    grid-column: 3/5;
    display :grid;
  }
.title{
grid-column: 1;
font-size: 30px;
}
.authorize1 {
  grid-column: 1;
  text-align: right;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
.authorize2 {
  grid-column: 2;
}
.search{
  grid-column: 2;
}
.search{
  margin-bottom: 5px;
}
.search input{
  -webkit-border-radius: 30px;
  border-radius: 30px;
  
  height: 40px;
  width: 300px;
}
.header-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:30px ;
}

main {
grid-area: main;
}
.icons{
  grid-area: icons;
  display: grid;
grid-template-columns: 11fr repeat(4,1fr);
grid-auto-flow: column;
grid-template-rows: 10f 1fr;
padding:0;
margin-top:10px;
}

.icon-button2{
background: url("./icons/icon1.jpg")  100% 100% no-repeat; 
background-size: cover;
}
.icon-button1{
  background: url("./icons/icon2.jpg")  100% 100% no-repeat; 
  background-size: cover;
 
}
.icon-button4{
    background: url("./icons/icon3.jpg")  100% 100% no-repeat; 
    background-size: contain;
    }
.icon-button3{
   background: url("./icons/icon4.jpg")  100% 100% no-repeat; 
   height: 32px;
   width: 45px;
   background-size: contain;
   
}
.map-comp{
  grid-column: 4/6;
  grid-row: 2;
  text-align: right;
  height:20px;
  padding:2px;
}
.full-map{
  color: black;
font-size :15px;
line-height:15px;

    padding: 1px;
    border: 1px solid hsl(224, 94%, 21%);
    border-radius : 2px;
    background-color: hsl(0, 0%, 97%);

}
.icon-comp1{
  grid-column:2 ;
  }
  .icon-comp2{
    grid-column:3 ;
     }
  .icon-comp3{
    grid-column:4 ;
     }
  .icon-comp4{
    grid-column:5 ;
   }
  .icons-button{
    padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
    background-position: center;
    min-width: 40px;
  min-height: 40px;
      color: rgb(255, 255, 255); 
      box-shadow: rgb(255, 255, 255) 1px 1px 1px 1px; 
     }
      
 .icons div{
    padding:0;
  }

aside {
grid-area: rightbar;
border: 2px solid black;
border-top: none;
padding:2px;
}


.login {
  grid-column: 1;
  grid-row:2;
  }
  .chartdiv {
    width: 100%;
   height:100%;
  }
.header-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  text-align: center;
}

