.App {
  text-align: center;
}
.grid-cont{
  display :grid;
  grid-template-areas:
  "header header"
  "icons rightbar"
  "main rightbar";
  height : 100vh;
  grid-row-gap: 10px;
grid-template-columns: 7fr 5fr;
grid-template-rows: 1.5fr 1.2fr 14fr;
grid-column-gap:5px;
margin: 0;
}

.grid-cont-initially{
  display : grid;
  grid-template-areas:
  "header header"
  "main main";
    grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr  10fr;
margin: 0;
grid-row-gap: 10px;
grid-column-gap:5px;
height : 100vh;
}

.container{
  border: 2px solid rgb(74, 176, 243);
  padding:10px;
}

header{
  grid-area: header;
  display: grid;
  grid-auto-flow: rows;
  margin:0;
  padding:5px;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr repeat(2,1fr);
  grid-auto-flow: column;
  }
  .settings{
    grid-column: 3/5;
    display :grid;
  }
.title{
grid-column: 1;
}
.authorize1 {
  grid-column: 1;
  text-align: right;

}
.authorize2 {
  grid-column: 2;
}
.search{
  grid-column: 2;
}
.search  input{
  -webkit-border-radius: 30px;
  border-radius: 30px;
  height: 30px;
  width: 200px;
}
.header-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:30px ;
}

main {
grid-area: main;
}
.icons{
  grid-area: icons;
  display: grid;
grid-template-columns: 11fr repeat(4,1fr);
grid-auto-flow: column;
grid-template-rows: 1f;
padding:0;
margin:0;
}

.icon-button2{
background: url("./icons/icon1.jpg")  100% 100% no-repeat; 
background-size: cover;
}
.icon-button1{
  background: url("./icons/icon2.jpg")  100% 100% no-repeat; 
  background-size: cover;
 
}
.icon-button4{
    background: url("./icons/icon3.jpg")  100% 100% no-repeat; 
    background-size: contain;
    }
.icon-button3{
   background: url("./icons/icon4.jpg")  100% 100% no-repeat; 
   height: 32px;
   width: 45px;
   background-size: contain;
   
}
.icon-comp1{
  grid-column:2 ;
  }
  .icon-comp2{
    grid-column:3 ;
     }
  .icon-comp3{
    grid-column:4 ;
     }
  .icon-comp4{
    grid-column:5 ;
   }
  .icons button{
  background-position: center;
      min-width: 40px;
    min-height: 40px;
    
    
      color: rgb(255, 255, 255); 
            border-radius: 0px;
        
       font-style: normal; 
       font-variant: normal;  
        box-shadow: rgb(255, 255, 255) 1px 1px 1px 1px; 
      
        display: inline-block;}
      
       .icons div{
    padding:0;
  }

aside {
grid-area: rightbar;
}
.header,.rightbar{
    background-color: rgb(150, 191, 214);
 }

.login {
  grid-column: 1;
  grid-row:2;
  }
  .chartdiv {
    width: 100%;
   height:100%;
  }

