.main-registration-form{
    padding-top: 1%;
    width: 50%;
    float: left;
}

.main-registration-inner{
    text-align: left;
    font-size: 30px;
    min-height: 70%;
}

.photo-upload-form{
    width: 50%;
    padding-left: 20%;
    float: left;
}

.input-forms{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    height: 50px;
    width: 300px;
}
.input-forms-dislocation{
    font-size: 80%;
    text-align: right;
    padding-right: 70px;
    transform: translate(-20%, -70%);
}

.description{
    min-height: 30%;
    width: 46%;
    float:left;
    text-align: left;
    transform: translate(-15%, -150%);

}

.description-inner{
    float: left;
    width: 50%;
}

.description-input-form{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    white-space: normal;
    border-bottom-color: black;
}

.registration-button{
    width: 50%;
    float: left;
}

.registration-button-inner{
    transform: translate(90%, -150%);
}

.registration{
    width: 210px ;
    height: 60px;
}