.allPlans {
    grid-row: 2;
    overflow: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.list-el {
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
}

.propertyTitle textarea {
    height: 80%;
    border: 1px solid black;
    margin: auto 1em auto 0;
}

.propertyDate textarea {
    height: 80%;
    border: 1px solid black;
    margin: auto 1em auto 0;
}

.propertyCityFrom textarea {
    height: 80%;
    border: 1px solid black;
    margin: auto 1em auto 0;
}

.propertyCityTo textarea {
    height: 80%;
    border: 1px solid black;
    margin: auto 1em auto 0;
}

.propertyBudgetMin textarea {
    height: 80%;
    border: 1px solid black;
    margin: auto 1em auto 0;
}

.propertyBudgetMax textarea {
    height: 80%;
    border: 1px solid black;
    margin: auto 1em auto 0;
}

.propertyTransport textarea {
    height: 80%;
    border: 1px solid black;
    margin: auto 1em auto 0;
}

.propertyAmount textarea {
    height: 80%;
    border: 1px solid black;
    margin: auto 1em auto 0;
}

.prop-s {
    width: 100%;
    padding-right: 10%;
    margin-right: -10%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    font-size: 16px;

}

.search-filter{
    border-radius: 5%;
    padding-left: 3%;
}

.one-plan{
    border: 3px solid grey;
    border-radius: 2%;
    width:100%;
    max-height:300px;
    margin:10px 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding:10px;
    grid-gap: 10px;
}

.propertyTitle-s{
    grid-row:2;
    grid-column:1/3;
}

.propertyTitle{
    grid-row:2;
    grid-column:1/3;
}
.propertyDate{
    grid-row:2;
    grid-column:3/5;
}
.propertyCityFrom{
    grid-row:3;
    grid-column:1/3;
}
.propertyCityTo{
    grid-row:3;
    grid-column:3/5;
}
.button-plan{
    background: url("https://image.flaticon.com/icons/png/128/1022/1022208.png") 100% 100% no-repeat;
    background-size: contain;
    margin-left: 80px;
    width: 30px;
    height: 30px;

}