.allPlans{
    grid-row: 2;
    overflow: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.list-el{
    text-align: center;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
}
.propertyTitle textarea{
    height:80%;
    border:1px solid black;
    margin: auto 1em auto 0;
}
.propertyDate textarea{
    height:80%;
    border:1px solid black;
    margin: auto 1em auto 0;
}
.propertyCityFrom textarea{
    height:80%;
    border:1px solid black;
    margin: auto 1em auto 0;
}
.propertyCityTo textarea{
    height:80%;
    border:1px solid black;
    margin: auto 1em auto 0;
}
.propertyBudgetMin textarea{
    height:80%;
    border:1px solid black;
    margin: auto 1em auto 0;
}
.propertyBudgetMax textarea{
    height:80%;
    border:1px solid black;
    margin: auto 1em auto 0;
}
.propertyTransport textarea{
    height:80%;
    border:1px solid black;
    margin: auto 1em auto 0;
}
.propertyAmount textarea{
    height:80%;
    border:1px solid black;
    margin: auto 1em auto 0;
}
.list-plan-elS{
    width:100%;
    min-height:100px;
    max-height:500px;
    overflow: hidden;

    margin:10px 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    padding:10px;
    grid-gap: 10px;
}
.owner-list-plans{
    grid-column: 1/4;
    grid-row:1;

}

.propertyTitleS{
    grid-row:1/8;
}
.propertyDateS{
    grid-row:2/8;
}
.propertyCityFromS{
    grid-row:3/8;
}
.propertyCityToS{
    grid-row:4/8;
}
.propertyBudgetMinS{
    grid-row:5/8;
}
.propertyBudgetMaxS{
    grid-row:6/8;
}
.propertyTransportS{
    grid-row:7/8;
}
.propertyAmountS{
    grid-row:8/8;
}

.prop{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    font-size:16px;

}
.list-el-containerS{
    border: 3px solid grey;
    border-radius: 2%;
}
