.following-page-button {
    grid-row: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    width: 50%;
    height: 7%;
    border-left: silver;
    border-top: white;
    border-bottom: white;
    cursor: pointer;
}

.following-page-button:focus{
    background: #76757b;
}

.followers-page-button{
    grid-row: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    width: 50%;
    height: 7%;
    border: none;
    cursor: pointer;
}

.followers-page-button:focus{
    background: #76757b;
}

.all-friends {
    grid-row: 2;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    overflow: auto;
}

.one-friend-cont{
    display: grid;
    grid-template-columns: 15% 20% 45% 20%;
    grid-template-rows: 100%;
}

.account-image {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

.account-label-friends {
    grid-row: 1;
    grid-column: 2;
    padding-top: 8%;
}

.delete {
    grid-row: 1;
    grid-column: 4;
}

.delete-button {
    padding: 12px;
    margin-left: 7%;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
    background: lightcoral;
    text-align: center;
}

.following {
    grid-row: 1;
    grid-column: 4;
}

.follow-button {
    padding: 12px;
    margin-left: 7%;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
    background: lightseagreen;
    text-align: center;
}

.friends-sidebar {
    padding: 0;
    border-right: silver;
    border-left: 2px solid silver;
    border-top: silver;
    border-bottom: white;
}